* {
    margin:0;
    padding: 0;
}
a{
    color: white;
    text-decoration: none;
}

span#menuIco{
    width: 2%;
    height: auto;
    font-size: 2em;
}
img#logo{
    width: 5vh;
    height:5vh;
}


div#box{
    width: 400px;
    height: 155px;
    display:none;
    color:white;
    background-color: rgb(2, 2, 2);
    position: absolute;
    top:0;
    right: 12px;
    border: solid rgb(139, 73, 201) 0.5vh;
    border-radius:5px;
    padding: 5px;
    z-index: 999;
}

main{
    padding: 10px;
}
#ListaProjetos{
    width: 80%;
    height: 29px;
    font-size: 1.1em;
    margin-bottom: 4px;
}

#NovoProjeto{
    width: 79%;
    margin-right: 4px;
    height: 25px;
    font-size: 1.1em;
    margin-bottom: 4px;
}
#renomearProjeto{
    width: 79%;
    margin-right: 4px;
    height: 25px;
    font-size: 1.1em;
    margin-bottom: 4px;
}

.bts{
    display: inline-block;
    color: white;
    background-color: rgb(139, 73, 201) ;
    padding: 4px;
    border-radius: 3px;
}
span#btExcluiProject{
    width: 21px;
    text-align: center;
    margin-left: 10px;
    background-color: red;
}
span#codeselectHTML, span#codeselectCSS, span#codeselectJS{
    display:none;
    text-align: center;
    width: auto;
    height: 25px;
    line-height: 25px;
    color: rgb(255, 255, 255);
    background-color:rgb(10, 177, 33);
    padding-left: 8px;
    padding-right: 8px;

}

#cabecalhoqwerty831809 {
    margin: 0 auto;
    display: flex;
    text-align: center;
    height: 6vh;
    width: 100%;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: black;
    color: rgb(165, 116, 211);
}

#tituloqwerty831809{
    margin-top:1vh; 
    width: 15%;
    font-size: 1.4em;
}

#NomeProjeto{
    z-index: 999;
    margin-top: 1vh; 
    width: 50%;
    max-width:50%;
    min-width: 10%;
    font-size: 1.2em;
    color: white;
    background-color: rgb(73, 71, 71);
    border-radius:4px;
    vertical-align: text-bottom;
    padding:0 10px;
    line-height: 4vh;
    height: 4vh;
    border: none;
}
#NomeProjeto:focus{
    background-color: rgb(48, 46, 46);
    box-shadow: 0 0 0 0;
    outline: 0;
}

#NomeProjeto:hover{
    cursor: pointer;
}
section#buttons{
   margin-top: 1vh;
   margin-right: 0.5vh; 
   position: absolute;
   right: 0.5vh;
    display: inline-flex;
    align-self: stretch;
    align-items: center;
    justify-content: end;
    line-height: 4vh;
    height: 4vh;
    min-width: 30%;
    z-index: 999;

}

span#fechaCode{
    margin-left:2px;
    text-align: center;
    width: auto;
    color: rgb(255, 255, 255);
    background-color:rgb(139, 73, 201);
    padding-left: 8px;
    padding-right: 8px;
    border-radius:2px;
    height: 25px;
    line-height: 25px;

}

span#fechaView{
    margin-left:2px;
    text-align: center;
    width: auto;
    color: rgb(255, 255, 255);
    background-color:rgb(139, 73, 201);
    padding-left: 8px;
    padding-right: 8px;
    border-radius:2px;
    height: 25px;
    line-height: 25px;
}

span#learn{
    margin-left:2px;
    text-align: center;
    width: auto;
    color: rgb(255, 255, 255);
    background-color:rgb(139, 73, 201);
    padding-left: 8px;
    padding-right: 8px;
    border-radius:2px;
    height: 25px;
    line-height: 25px;
}
span#newPage{
    margin-left:2px;
    text-align: center;
    width: auto;
    color: rgb(255, 255, 255);
    background-color:rgb(139, 73, 201);
    padding-left: 8px;
    padding-right: 8px;
    border-radius:2px;
    height: 25px;
    line-height: 25px;
}
span#fechaCode:hover, span#fechaView:hover, span#newPage:hover, span#learn:hover{
    cursor: pointer;
}

.grid1 {
    position:relative;
    height: 90vh;
    width: 100%;
}



div#containerfatherHTML {
    background-color: rgb(5, 5, 5);
    position:absolute;
    top:0;
    left:0;
    width: 50%;
    height: 45vh;
    /* border-right: 3vh solid white; */
}

div#containerfatherCSS {
    background-color: rgb(0, 0, 0);
    position:absolute;
    top:0;
    right:0;
    width: 50%;
    height: 45vh;  

}

div#containerfatherJS{
    background-color: rgb(7, 7, 7);
    position:absolute;
    top:45vh;
   left:0;
    width: 50%;
    height:45vh;
}

div#sonHTML, div#sonCSS, div#sonJS{
    position: absolute;
    text-align: center;
    top:0;
    right:23px;
    width:60px;
    height:20px;
    line-height: 20px;
    background-color:rgb(203, 111, 240);
    color:rgb(247, 252, 251);
    opacity:0.8;
    font-weight: bold;
    
}

div#sonHTML{
    background-color: rgb(250, 63, 6);
    color: rgb(255, 255, 255);
}
div#sonJS{
    background-color: rgb(250, 213, 6);
    color: rgb(7, 7, 7);
}
div#sonJS:hover{
    background-color:rgb(7, 7, 7); 
    color: rgb(250, 213, 6);
    cursor:pointer;
}

div#sonCSS{
    background-color: rgb(6, 132, 250);
    color: rgb(253, 251, 251);
}

    
.textCodeqwerty831809 {
    justify-self: center;
    align-self: center;
    background-color: rgb(54, 54, 56);
    color: rgb(253, 253, 253);
    padding: 1%;
    resize: none;
    width: 97.5%;
    height: 95%;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    overflow: scroll;
    white-space : nowrap;
}


iframe#AreaViewqwerty831809 {
    position: absolute;
    top: 45vh;
    right:0;
    margin:0;
    padding: 0;
    overflow:scroll;
    width: 50%;
    height:45vh;
    /* border-bottom: solid black 1px; */
   /*  border-right: solid black 1px; */
}

section#principal{
    border-top:solid black 1px;
}

main {

    margin:0 auto;
    width: 50%;
    text-align: justify;
    font-family: Verdana, Tahoma, sans-serif, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    /* font-size: 1.2em; */
    line-height: 1.5em;
}

main h1,h2{
    margin: 20px 0;
    text-align: left;
}

main p{
    margin-top:10px;
    text-indent: 40px;
}
footer{
    /* grid-area: f; */
    background-color: rgb(0, 0, 0);
    border:none;
    color: rgb(231, 202, 236);
    display: block;
    /* position: absolute;
    bottom: 0; */
    /* height: 6vh;
    line-height: 6vh; */
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    /* border-top:solid 1px black; */
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

footer p{
    margin-top: 10px;
    color: rgb(231, 202, 236);
}

div#boxCookies{
    width:250px;
    height:110px;
    background-color:rgba(29,30,31,.95);
    opacity:1;
    padding: 10px 20px;
    border-radius:5px;
    font-weight:500;
    font-family:arial;
    color:white;
    font-size:0.9em;
    /* Mude estas propriedades para alterar a posição */
    position:fixed;
    bottom:30px;
    right:20px;
    /* * * * * */
  }
  
  div#boxCookies #OK{
    color:#4f8df9;
    text-align:right;
    cursor:pointer;
  }
  
  div#boxCookies a{
    text-decoration:none;
  }
  
  div#boxCookies a:visited{
    color:white;
  }
  p#ultimo a{
      font-size: 1.2em;
      font-weight: bold;
  }
  p#ultimo a:hover{
    color: blueviolet;
 }

 @media (max-width: 1000px) {
    #tituloqwerty831809{
        display:none;
}

/* @media (max-width: 800px) {
    #NomeProjeto{
        display: none;
    }
} */
 }
@media (max-width: 500px) {

    div#box{
        width: 90vw;
        height: 155px;
        position: absolute;
        top:0;
        right: 0;
        padding-left: 10vw;
        border:none;
    }
    #ListaProjetos{
        width: 70%;
    }
    #NovoProjeto, #renomearProjeto{
        width: 68%;
    }
    div#sonHTML, div#sonCSS, div#sonJS{
    display: none;
    }

    span#codeselectHTML{
        display: inline-block;
        background-color: rgb(250, 63, 6);
        color: rgb(255, 255, 255);
        margin-left: 2px;
        width: 30px;
        border-radius: 2px;
    }
    
    span#codeselectCSS{
        display: inline-block;
        background-color: rgb(6, 132, 250);
        color: rgb(253, 251, 251);
        margin-left: 2px;
        width: 30px;
        border-radius: 2px;
    }
    span#codeselectJS{
        display: inline-block;
        background-color: rgb(250, 213, 6);
        color: rgb(7, 7, 7);
        margin-left: 2px;
        width: 30px;
        border-radius: 2px;
    }

    #cabecalhoqwerty831809 {
        display: flex;
        text-align: center;
        align-items: center;
        font-size: 0.55em;
        min-width:90%;
        height:6vh ;
        /* background-color: aqua; */
        /* height: 2vh; */
    }
    section#buttons{
        /* margin: 0 auto; */
        display: flex;
        min-width:90%; 
        /* background-color: blue; */
        align-content: center;

    }    
    span#menuIco{
        display: block;
        left:1vh;
        top:0;
        font-size: 3em;
    }
    img#logo{
        display: block;
        
    }
    span#codeselectHTML, span#codeselectCSS, span#codeselectJS{
        display: block;    
    }

    #learn{
        display: none;
    }

    iframe#AreaViewqwerty831809 {
        height:50vh;
        width:100vw;
        position:absolute;
        top:51vh;
        border:none;
        border-radius: 0;
        border-top:2px solid rgb(190, 8, 245);
        /* border-bottom:2px solid rgb(0, 0, 0); */
        top:49vh;
    
    }

    #NomeProjeto{
        display: none;
    }
    
    h1#tituloqwerty831809{
    display: none;
    }
  
    section#buttons{
       width: 80%; 
       font-size: 1.2em;
     }


    textarea.textCodeqwerty831809{
        margin-top: -3vh;
        display: block;
        position:absolute;
        top:4vh;
        /* padding:1%;
        width: 98%; */
        border:none;
        border-radius:0;
        font-size: 1em;
    }
    div#containerfatherHTML {
    
        width:100%;
        height:49vh;
        z-index: 2;
        position:absolute;
        top:0;
        left:0;
        /* background-color: rgb(33, 112, 9); */
    }
    
 
    div#containerfatherCSS {
        width:100%;
        height:49vh;
        z-index: 1;
        position:absolute;
        top:0;
        left:0;
        /* background-color: rgb(33, 112, 9); */
    }
    
    
    div#containerfatherJS {
        width:100%;
        height:49vh;    
        z-index:0;
        position:absolute;
        top:0;
        left:0;
        /* background-color: rgb(33, 112, 9); */
    }

    main{
        width:90%;
        overflow-wrap: break-word;
        font-size: 1em;  
    }

    main h1,h2{
       text-align: left; 
       font-size: 1.3em; 
    }
    section#principal{
      margin-top: 50px;

    } 

    div#boxCookies{
        /* display:none; */
        position:fixed;
        bottom:0;
        left:0;
        margin:0 auto;
        width:90%;
        height:auto;
        background-color:rgba(29,30,31,.95);
        opacity:1;
        padding: 5% 5%;
        border-radius:5px;
        font-weight:500;
        font-family:arial;
        color:white;
        font-size:0.9em;
        /* Mude estas propriedades para alterar a posição */
        /* position:fixed;
        bottom:0; */
        /* right:0; */
        /* * * * * */
      }
  }
