* {
    margin:0;
    padding: 0;
}
a{
    color: white;
    text-decoration: none;
}

span#menuIco{
    width: 30px;
    height: auto;
    position: absolute;
    top:0.5vh;
    left: 2vh;
    font-size: 2em;
/*     display: none; */
}
img#logo{
    width: 50px;
    height:50px;
    position: absolute;
    top:0.5vh;
    left: 6vh;
    /* font-size: 1.5em; */
}
div#box{
    width: 200px;
    height: 17vh;
    display:none;
    color:white;
    background-color: rgb(2, 2, 2);
    position: absolute;
    top:7.5vh;
    right: 3vh;
    border: solid rgb(139, 73, 201) 0.5vh;
    border-radius:5px;
    padding: 1vw;
}
.grid1 {
    background-color: rgb(8, 8, 8);
    margin: auto;
    align-items: center;
    justify-items: center;
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 5vh ; */
    grid-template-areas:
    "r r r r "
    "a a b b "
     /* "e e e e " */
    "d d c c"
    "g g g g "
    "f f f f ";
    row-gap :1vh;

}

section#principal{
    grid-area: g;
    margin-top: 4vh;
    width: 98%;
    background-color: white;
    color:black;
}

main{
    padding: 10px;
}
#ListaProjetos{
    width: 80%;
}

#NovoProjeto{
    width: 78%;
    margin-right: 4px;
}

.bts{
    display: inline-block;
    color: white;
    background-color: rgb(139, 73, 201) ;
    padding: 4px;
    border-radius: 3px;
}

span#codeselectHTML, span#codeselectCSS, span#codeselectJS{
    display:none;
    text-align: center;
    width: auto;
    height: 25px;
    line-height: 25px;
    color: rgb(255, 255, 255);
    background-color:rgb(10, 177, 33);
    padding-left: 8px;
    padding-right: 8px;

}
span.bts:hover{
    
    transform: scale(1.1);
    cursor: pointer;
}
#cabecalhoqwerty831809 {
    grid-area: r;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    line-height: 6vh;
    height: 6vh;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;

    background-color: black;
    color: rgb(165, 116, 211);
}

#tituloqwerty831809{
    display: inline-flex;
 position: absolute;
top:0.5vh;
left: 12vh;
font-size: 1.4em;
}

#NomeProjeto{
    display: inline-flex;
    margin-top: 0.5vh;
    min-width:40%;
    font-size: 1.5em;
    color: white;
    background-color: gray;
    border-radius:4px;
    vertical-align: text-bottom;
    padding:0 10px;
    line-height: 5vh;
    height: 5vh;
}

section#buttons{
   min-width: 20%; 
    display: inline-flex;
    position: absolute;
    top:1vh;
    right: 1vh;
    /* background-color: burlywood; */
    align-self: flex-end;
    align-items: center;
    justify-content: space-around;

}

span#fechaCode{
    /* display: block; */
    text-align: center;
    width: auto;
    height: 25px;
    line-height: 25px;
    color: rgb(255, 255, 255);
    background-color:rgb(139, 73, 201);
    padding-left: 8px;
    padding-right: 8px;
    /* opacity: 80%; */
    /* position: absolute;
    top:1vh;
    right: 2vh; */
    border-radius:2px;

}

span#fechaView{
    /* display: block; */
    text-align: center;
    width: auto;
    height: 25px;
    line-height: 25px;
    color: rgb(255, 255, 255);
    background-color:rgb(139, 73, 201);
    padding-left: 8px;
    padding-right: 8px;
    /* opacity: 80%; */
    /* position: absolute;
    top:1vh;
    right: 14vh; */
    border-radius:2px;
}

span#learn{
    /* display: block; */
    text-align: center;
    width: auto;
    height: 25px;
    line-height: 25px;
    color: rgb(255, 255, 255);
    background-color:rgb(139, 73, 201);
    padding-left: 8px;
    padding-right: 8px;
    /* opacity: 80%; */
    /* position: absolute;
    top:1vh;
    right: 38vh; */
    border-radius:2px;
}
span#newPage{
    /* display: block; */
    text-align: center;
    width: auto;
    height: 25px;
    line-height: 25px;
    color: rgb(255, 255, 255);
    background-color:rgb(139, 73, 201);
    padding-left: 8px;
    padding-right: 8px;
    /* opacity: 80%; */
    /* position: absolute;
    top:1vh;
    right: 24vh; */
    border-radius:2px;
}
span#fechaCode:hover, span#fechaView:hover, span#newPage:hover, span#learn:hover{
    /* color: rgb(255, 255, 255);
    background-color: rgb(236, 6, 6); */
    /* font-size: 1.4em; */
    /* transform: scale(1.1); */
    /* color: rgb(139, 73, 201);
    background-color: rgb(255, 255, 255); */
    cursor: pointer;

}

#areaHTMLqwerty831809 {
    grid-area: a;
    width: 45vw;
    /* min-width: auto; */
    height: 30vh;
    /* margin-right: 0px;  */
}

#areaCSSqwerty831809 {
    grid-area: b;
    width: 45vw;
    /* min-width: auto; */
    height: 30vh;  
    /* margin-left: 0px;    */
}

#areaJSqwerty831809 {
    grid-area: d;
    width: 45vw;
    /* color: rgb(8, 250, 238); */
    /* min-width: auto; */
    /* height: 30vh; */
    height:48vh;
    /* margin-left: 0px;    */
}
.AreaCodeqwerty831809 {
    justify-self: center;
    align-self: center;
    border: solid rgb(142, 122, 161) 0.5vh;
    background-color: rgb(54, 54, 56);
    color: rgb(253, 253, 253);
    border-radius:5px;
    padding: 1vw;
    resize: none;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;

}
/* span#center{
    grid-area:e;
    display: inline-block;
    color: white;
    background-color: rgb(0, 0, 0);
    width: 90%;
    line-height: 4vh;
    height: 4vh;
    text-align: center;
    padding-bottom: 10px;
}  */

iframe#AreaViewqwerty831809 {
    grid-area: c;
    /* position: absolute; */
    /* bottom: 5vh; */
    margin:0;
    padding: 0;
    overflow:scroll;
    width: 47vw;
    /* min-height:20vh; */
    /* min-width: auto; */
    height:52vh;
    
    background-color: rgb(255, 255, 255);
    border: solid rgb(139, 73, 201) 0.5vh;
    border-radius:5px;
    /* border-radius:10px; */
    /* border: solid rgb(139, 73, 201) 4px; */
    /* padding: 20px; */

}



/* #tituloqwerty831809{
    color:rgb(157, 105, 202);
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: black;
    border:none;
} */



/* #descr{
    font-size: 15pt;
} */
/* #areaJS {
    
    width: 100vh;
    height: 30vh;
} */

/* div {
    border-style:none;
} */
/* 
#rtzbuton {
    grid-area: y;
    background-color: rgb(139, 73, 201);
    color: white;
    margin: 10px;
    
    padding: 5px;
    border-radius: 10px;
    border: solid rgb(139, 73, 201) 4px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    font-size: large;
    width: 96%;
}

#rtzbuton:hover {
    background-color: rgb(149, 113, 180);
    border: solid rgb(149, 113, 180) 4px;   
} */

footer{
    grid-area: f;
    background-color: rgb(0, 0, 0);
    border:none;
    color: rgb(139, 73, 201);
    display: block;
    /* position: absolute;
    bottom: 0; */
    height: 6vh;
    line-height: 6vh;
    width: 90%;
    /* border-top:solid 1px black; */
    text-align: center;
}


@media (max-width: 500px) {

    #cabecalhoqwerty831809 {
        text-align: center;
        font-size: 0.55em;
        width:97vw;
    }

    span#menuIco{
        display: block;
        left:1vh;
        top:0;
        font-size: 3em;
    }
    img#logo{
        display: none;
        
    }
    span#codeselectHTML, span#codeselectCSS, span#codeselectJS{
    
        display: block;    
    }

    #learn,#fechaCode{
        display: none;
    }

    iframe#AreaViewqwerty831809 {
        height:50vh;
        width:100vw;
        position:absolute;
        top:51vh;
        border:none;
        border-radius: 0;
        border-top:3px solid rgb(0, 0, 0);
        border-bottom:3px solid rgb(211, 162, 211);
    }

    #NomeProjeto{
        display: none;
    }
    
    h1#tituloqwerty831809{
    display: none;
    }
  
    section#buttons{
       width: 80%; 
       font-size: 1.2em;
         /* display: inline-flex;
         position: absolute;
         top:1vh;
         right: 2vh; */
         /* background-color: burlywood; */
         /* align-self: flex-end;
         align-items: center;
         justify-content: space-between;
      */
     }

     .grid1 {
        display:block 
    
    }
    textarea.AreaCodeqwerty831809{
        display: block;
        position:absolute;
        top:5vh;
        border:none;
        border-radius:0;
    }
    #areaHTMLqwerty831809 {
        width:100vw;
        height:45vh;
        z-index: 2;
    }
    
    #areaCSSqwerty831809 {
        width:100vw;
        height:45vh;
        z-index: 1;
    }
    
    
    #areaJSqwerty831809 {
        width:100vw;
        height:45vh;
        z-index:0;
    }

    section#principal{
        position: absolute;
        top:100vh;
        background-color: rgb(0, 0, 0);
    }
  }
