body{
    margin:0 auto;
    padding: 0;
    width: 50%;
    /* text-align: center; */
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    
}
.tags {
    color:rgb(6, 86, 151);
    background-color:rgb(240, 236, 236);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

span.red{
    color:red
}
h2, h3 {
    text-align: left;
}
p, li {
    /* text-align: justify; */

    line-height: 1.6;
}
/* p {
     text-indent: 2vw; 
} */
textarea.textarea-reference {
    border-radius: 4px;
    width: 92%;
    height:25vh;
    background-color: rgb(242, 242, 242);
    /* text-align: justify; */
    padding: 2vw;
    font-size: 1.3vw;
    font-family: 'Courier New', Courier, monospace;
    word-wrap: initial;
    border: solid 0.2vw;
    resize: none;
    /* scroll-behavior: inherit; */
    
}

div.div-view-reference{
    border-radius: 4px;
    padding: 2vw;
    border: solid 0.2vw;
    width: 92%;
    height: auto;
    color: black;
}

section#menu_interno{
    overflow-y: scroll;
    position: fixed;
    left: 0;
    top:0;
    text-align: left;
    width: 20vw;
    height: 100vh;
    border-right: 1px solid black;
    padding-right: 10px; 
   
}

section#conteudo {
    margin-top: 100px;
}
div#nome-curso{
    text-align: left;
    /* display: block;
    position: relative;
    top:0;
    margin-top: 0;
    width: 50%;
    height: 5em;
    background-color: white;
    border-bottom: 1px solid black; */
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: blue;
}
ul{
    list-style: none;
}

details>li{
    margin-top:5px;
    padding-left: 5px;
    background-color: rgb(242, 242, 242);
    border-radius: 4px;
}

summary{
    margin-top:5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: bold;
}