body{
    position: relative;
    margin:0 auto;
    padding: 0;
    /* width: 50%; */
    /* text-align: center; */
    font-family: Verdana, Tahoma, sans-serif, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    
}
.tags {
    color:rgb(6, 86, 151);
    background-color:rgb(240, 236, 236);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

span#icon_menu{
    display:none;
    position:fixed;
    right: 5px;
}
header#cabecalhoqwerty831809{
    /* display: none; */
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 5vh;
    background-color: rgb(0, 0, 0);
    color:rgb(176, 136, 212);
    z-index: 999;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}

img#logo, span#tituloqwerty831809, span#ref{
    display: inline-block;
    height: 5vh;
    line-height: 5vh;
    vertical-align: middle;
    border: none;
}
div.divlanguage{
    margin-top: 20px;
    height: 290px;
    border: 5px solid rgb(139, 73, 201);
    padding: 10px;
    border-radius: 5px;
    /* background-color: aqua; */
}
img.imglanguage{
    display: inline-block;
    width: 200px;
    height: auto;
    margin-right:30px;
    /* border: 5px solid rgb(139, 73, 201); */
    /* padding: 10px; */
    border-radius: 5px;

}
div.divinterno{
    display: inline-block;
    /* background-color: blue; */
    vertical-align: top;
    
}
p.paragrafolanguage {
    /* display: inline-block; */
    /* border: 5px solid rgb(139, 73, 201); */
    vertical-align: top;
    padding: 10px;
    height: max-content;
    /* background-color: aqua; */
    font-size: x-small;
  
  
}

div#sugeridos>h2{
    text-align: center;
}
span#tituloqwerty831809{
    width: 16vw;
}
section#menu_interno{
    /* display: none; */
    /* background-color: aqua; */
    position: fixed;
    top:5vh;
    left: 0;
    overflow-y: scroll;
    text-align: left;
    width: 20vw;
    height: 90vh;
    border-right: 1px solid black;
    /* margin-bottom: 5vh; */
    /* padding-bottom: -100px; */
    /* padding-left: 0; */
    /* padding-right: 10px;  */

}

section#menu_interno ul{
    /* text-align: left; */
    /* width: 15vw; */
    position: absolute;
    top:0;
   left: 0;
    /* background-color: rgb(161, 150, 150); */
    padding: 0 1vw;
    /* width: 20vw; */
}
section#conteudo{
    /* display: none; */
    position: absolute;
    /* background-color: aqua; */
    top:40px;
    left:20vw;
    margin: 0 2vw;
    width: 60vw;
    /* margin-top: 100px; */
    padding-bottom: 50px;
}

img#image-article{
    width: 100%;height: auto;
    /* text-align: center; */
}
span.red{
    color:red
}
h2, h3 {
    text-align: left;
}

#conteudo p {
    text-align: justify;

    line-height: 2;
    font-size: 16px;
}
#conteudo li{
    line-height: 2;
    font-size: 20px;
}

textarea.textarea-reference {
    border-radius: 4px;
    width: 92%;
    height:25vh;
    background-color: rgb(242, 242, 242);
    /* text-align: justify; */
    padding: 2vw;
    font-size: 1.3vw;
    font-family: 'Courier New', Courier, monospace;
    word-wrap: initial;
    border: solid 0.2vw;
    resize: none;
    /* scroll-behavior: inherit; */
    
}

div.div-view-reference{
    /* width: fit-content; */
    border-radius: 4px;
    padding: 2vw;
    border: solid 0.2vw;
    /* width: 92%; */
    height: auto;
    color: black;
}


div#nome-curso{
    text-align: left;
    /* display: block;
    position: relative;
    top:0;
    margin-top: 0;
    width: 50%;
    height: 5em;
    background-color: white;
    border-bottom: 1px solid black; */
}
#menu_interno a, div#buttons>span.btnAntProx a{
    text-decoration: none;
    color: rgb(39, 35, 41);
}
#menu_interno a:hover, div#buttons>span.btnAntProx a:hover{
    /* color: rgb(139, 73, 201); */
    opacity: 0.8;
}
section#menu_interno ul{
    list-style: none;
}

details>li{
    width: 100%;
    line-height: 2;
    margin-top:5px;
    padding: 0 5px;
    background-color: rgb(242, 242, 242);
    border-radius: 4px;
}

details>summary{
    margin-top:10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: bold;
    padding: 5px 0;
}

div#buttons{
    /* display: flex; */
    position: fixed;
    width: 100vw;
    bottom: -20px;
    margin-bottom: 0;
    left: 0;
    background-color: rgb(5, 5, 5);
    margin-bottom: 20px;
    height: 5vh;
    
}

div#buttons>span.btnAntProx{
    display: inline-block;
    height: 4vh;
    width: 100px;
    line-height: 4vh;
    vertical-align: middle;
    background-color: rgb(139, 73, 201);
    color: rgb(255, 255, 255);
    padding: 0 15px;
    border-radius: 4px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top:0.5vh;
}

div#buttons>span.btnAntProx a{
    color: white;
}

div#buttons>span.btnAntProx:hover{
 cursor: pointer;
 opacity: 0.9;
}

div#buttons> span#btnAnt{
    position: absolute;
    left:22vw;
}
div#buttons> span#btnProx{
    position: absolute;
    right:18vw;
}

@media (max-width: 1400px) {
    div.divlanguage {
        display: flexbox;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
        /* border: 5px solid rgb(139, 73, 201); */
        vertical-align: top;
        padding: 10px;
        height: max-content;
        /* background-color: aqua; */
        font-size: x-small;
      
      
    }
    
    /* div#sugeridos>h2{
        text-align: center;
    } */
    div.divlanguage li{
        /* display: flex; */
        text-align: left;
        /* border: 5px solid rgb(139, 73, 201); */
        vertical-align: top;
        padding: 10px;
        height: max-content;
        /* background-color: aqua; */
        font-size: x-small;
      
      
    }
    
    div.divlanguage h2{
        font-size: 2em;
        text-align: center;
    
    }
}    
@media (max-width: 800px) {

    /* body{
        width: 90%;

    } */

    /* header#cabecalhoqwerty831809{
        display: none; 
        position: static;
        display: flex;
    } */
    span#icon_menu{
        display:block;
        position:fixed;
        top:0;
        right: 5px;
    }
    h1{
        font-size: 1em;
    }

    address{
        font-size: 0.7em;
    }
    section#menu_interno{
        background-color: white;
        display:none;
        width: 98vw;
        max-width: 98vw;
        z-index: 999;
    }
 
    section#conteudo{
        /* position: relative; */
        /* background-color: aqua; */
        /* top:40px;*/
        left:0;
       /*  margin: 0 2vw; */
        width: auto;
        /* padding-bottom: 50px; */
        width:90%;
        overflow-wrap: break-word;
        font-size: 1em;  

    }
    section#conteudo p{
     text-indent: 40px;
     }
    section#conteudo h1,h2{
       text-align: left; 
       font-size: 1.3em; 
    }
    span#ref{
        display:none;
        font-size: 0.8em;
        height: auto;
    }

    img#logo, span#tituloqwerty831809{
        display: inline-block;
        height: 5vh;
        line-height: 5vh;
        vertical-align: middle;
        border: none;
    }

    .div-view-reference{
        padding: 0;
        /* background-color: blue; */
        /* width: 600px; */
        height: auto;
        overflow: scroll;
    }
/*     
    .div-view-reference>img{
        width: 100%;
        height: auto; 
    }
    */
    /* div#buttons{

        position: fixed;
        top: 0;
    } */
    div#buttons> span#btnAnt{
        position: absolute;
        left:5px;
    }
    div#buttons> span#btnProx{
        position: absolute;
        right:5px;
    }

    div.divlanguage {
        display: flexbox;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 10px;
        /* border: 5px solid rgb(139, 73, 201); */
        vertical-align: top;
        padding: 10px;
        height: max-content;
        /* background-color: aqua; */
        font-size: x-small;
      
      
    }
    
    /* div#sugeridos>h2{
        text-align: center;
    } */
    div.divlanguage li{
        /* display: flex; */
        text-align: left;
        /* border: 5px solid rgb(139, 73, 201); */
        vertical-align: top;
        padding: 10px;
        height: max-content;
        /* background-color: aqua; */
        font-size: x-small;
      
      
    }
    
    div.divlanguage h2{
        font-size: 2em;
        text-align: center;
    
    }
}
